
<div >
    <div style="margin-bottom:10px">
        <button  ng-click="$state.go('newusertype');" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddBtn' | translate}}</button>
        
    </div>
    
    <div ng-if="usertypeList.results.length == 0">
            <span>{{'NousertypesAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="usertypeList.results.length > 0">
        <div class="table-responsive"></div>
            <table class="table pmd-table table-hover">
                <thead>
                    <tr>
                        <th >{{'Name' | translate}}</th> 
                        <th >{{'status' | translate}}</th>
                        <th ></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="usertype in usertypeList.results">
                        <td data-title="Name" >{{usertype.titleDictionary[selectedLanguage]}}</td>
                         
                        
                        <td>
                            <p ng-show="usertype.isStatic">{{'Static' | translate}}</p> 
                            <p  ng-show="!usertype.isStatic">{{'Dynamic' | translate}}</p>                             
                        </td> 
                        <td width="30%" ng-show="!usertype.isStatic">
                            <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editusertype',{userTypeId: usertype.userTypeId});">mode_edit</i> 
                            <!-- <i class="material-icons pmd-md deleteButton cursorPointer font25" ng-click="usertypeCtrl.openDeleteusertypeDialog(usertype.usertypeNameDictionary[selectedLanguage],usertype.usertypeId)">delete</i> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align:center;" paging page="1" page-size="10" total="totalCount" paging-action="changePage(page)"
        flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
           </div>
    </div> 

 