
<div class="container">
    {{'Products' | translate}}
    <div>
        <!-- {{'ProductTitleLbl' | translate}}: <br> -->
        <ul ng-repeat="(key,val) in productList.results">
          
           
            <li>  <input type="radio" ng-click="radioProductClick(val)" ng-model="$parent.checkradioasd" ng-value='val.productId'>
                {{val.titleDictionary[selectedLanguage]}}  </li>
            <!-- <br>   {{'ProductDescLbl' | translate}} :<br>
            <P>{{val.productDesc}}</P> --> 
            </ul>
    </div>
    <div ng-show="productDetails">
        <div class="pmd-modal-action text-right">
            <button ng-disabled="productForm.$invalid   || productCtrl.hide" class="btn pmd-ripple-effect btn-primary" type="button" ng-click="AddProductRequest()">{{'saveChangesBtn' | translate}}</button>
        </div>
  
 
        
        <form class="form-horizontal" name="productForm">
            <div class="group-fields clearfix row">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                    <label for="first-name"> {{'userlimitLbl' | translate}}  *</label>
                    <input required type="text" numbers-only class="mat-input form-control" name="UserLimit" ng-model="UserLimit" ng-minlength="1" ng-maxlength="10">

                    <div ng-messages="productForm.UserLimit.$error">
                        <div ng-if="productForm.UserLimit.$error.required && !productForm.UserLimit.$pristine">{{'UserLimitReqError' | translate}}</div>
                        <div ng-if="(productForm.UserLimit.$error.minlength || productForm.UserLimit.$error.maxlength) && !productForm.UserLimit.$error.required">{{'UserLimitLengthError' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
           
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="regular1" class="control-label">{{'startDateLbl' | translate}}</label>
                        <input type="text" id="startdate" class="form-control" required />
                    </div>
           

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                    <label>{{'backage' | translate}}  *</label>
                    <select class="select-simple form-control pmd-select2"  
                            ng-model="packageLimit" ng-options="backage as backage.title for backage in Backages" required>
               
                        
                        </div>
            </div>

        </div>
        </form>

    </div>

</div>
<script type="text/javascript">
    // $(function () {
    //     $('#startdate').datetimepicker();
    // });
    $(function () {
        $('#startdate').datetimepicker(
            {
                //   viewMode: 'years',
                //  format: 'DD/MM/YYYY',
                minDate: new Date()
            }
    );
    });

</script>