<div class="modal-content">
	<div class="modal-header bordered">
		<h2 class="pmd-card-title-text">{{'CategoryLbl' | translate}}</h2>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" name="editTypeForm"> 
                <div> 
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in editCategoryCtrl.language">
                            <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab" data-toggle="tab">
                                {{lang.value | translate}}
                            </a>
                        </li> 
                    </ul>
                    <div class="pmd-card">
                        <div class="pmd-card-body">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in editCategoryCtrl.language" id="{{lang.value}}-form">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                                        <label for="first-name"> {{ lang.value+'Name' | translate}} </label>
                                        <input required type="text" class="mat-input form-control" name="titleDictionary{{lang.value+'Name'}}" ng-model="editCategoryCtrl.Category.titleDictionary[lang.key]" ng-minlength="3" ng-maxlength="255">
                                        <div ng-messages="editTypeForm.titleDictionary{{lang.value+'Name'}}.$error" >
                                            
                                            <div ng-show="editTypeForm.titleDictionary{{lang.value+'Name'}}.$error.required && !editTypeForm.titleDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
                                            <div ng-show="(editTypeForm.titleDictionary{{lang.value+'Name'}}.$error.minlength || editTypeForm.titleDictionary{{lang.value+'Name'}}.$error.maxlength) && !editTypeForm.titleDictionary{{lang.value+'Name'}}.$error.required">{{'NameLengthError255' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                
        
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                            <label> {{ 'Role' | translate}} </label>
                                            <select required style="width:100% !important" class="form-control select-with-search pmd-select2-tags" multiple
                                                ng-model="editCategoryCtrl.selectedCategoryRoles" ng-options="role as role.titleDictionary[selectedLanguage] for role in roleList"></select>
                            
                                    </div>
                            </div> 
                        </div>

                   
                    </div>
                </div> 
 
		</form>
	</div>
	<div class="pmd-modal-action text-right">
		<button ng-disabled="editTypeForm.$invalid" class="btn pmd-ripple-effect btn-primary" type="button" ng-click="editCategoryCtrl.UpdateCategory()">{{'saveChangesBtn' | translate}}</button>
		<button class="btn pmd-ripple-effect btn-default" type="button" ng-click="editCategoryCtrl.Close()">{{'DiscardBtn' | translate}}</button>
	</div>
</div>
 
<script type="text/javascript">
    $(document).ready(function() { 
        $(".select-add-tags").select2({
            tags: true,
            theme: "bootstrap",
            insertTag: function (data, tag) {
                // Insert the tag at the end of the results
                data.push(tag);
                // console.log(data);
            }
        });
        $(".select-with-search").select2({
			theme: "bootstrap"
		});
    });
</script>