
  
    <div class="container" > 
        {{'BasicInfoLbl' | translate}}         
            <form class="form-horizontal" name="newclientForm" autocomplete="off">
                <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'FirstNameLbl' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="firstName" ng-model="userObj.firstName" ng-minlength="3" ng-maxlength="50" readonly="readonly">
                    <div ng-messages="newclientForm.firstName.$error" >
                        <div ng-if="newclientForm.firstName.$error.required && !newclientForm.firstName.$pristine">{{'FirstNameLengthError' | translate}}</div>
                        <div ng-if="(newclientForm.firstName.$error.minlength || newclientForm.firstName.$error.maxlength) && !newclientForm.firstName.$error.required">{{'FirstNameLengthError' | translate}}</div>
                    </div>
                </div>
                <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'LastNameLbl' | translate}}</label>                     
                    <input required type="text" class="mat-input form-control" name="lastName" ng-model="userObj.lastName" ng-minlength="3" ng-maxlength="50" readonly="readonly">
                    <div ng-messages="newclientForm.lastName.$error" >
                        <div ng-if="newclientForm.lastName.$error.required && !newclientForm.lastName.$pristine">{{'lastName' | translate}}</div>
                        <div ng-if="(newclientForm.lastName.$error.minlength || newclientForm.lastName.$error.maxlength) && !newclientForm.lastName.$error.required">{{'LastNameLengthError' | translate}}</div>
                    </div>
                </div>
                <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'EmailLbl' | translate}}</label>
                    
                    <input required type="text" class="mat-input form-control" name="email" ng-model="userObj.email" ng-minlength="3" ng-maxlength="50" readonly="readonly">
                    <div ng-messages="newclientForm.email.$error" >
                        <div ng-if="newclientForm.email.$error.required && !newclientForm.email.$pristine">{{'lastName' | translate}}</div>
                        <div ng-if="(newclientForm.email.$error.minlength || newclientForm.email.$error.maxlength) && !newclientForm.email.$error.required">{{'LastNameLengthError' | translate}}</div>
                    </div>
                </div>

                <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'Phone1Lbl' | translate}}</label>
                    
                    <input required type="text" class="mat-input form-control" numbers-only name="phone1" ng-model="userObj.phone1" ng-pattern="phoneNumbr" ng-minlength="10" ng-maxlength="50">
                    <span class="error" ng-show="newclientForm.phone1.$error.pattern">{{'NotPhoneNumber' | translate}}   </span>
                    <div ng-messages="newclientForm.phone1.$error" >
                      <div ng-if="newclientForm.phone1.$error.required && !newclientForm.phone1.$pristine">{{'PhoneReqError' | translate}}</div>
                      <div ng-if="(newclientForm.phone1.$error.minlength || newclientForm.phone1.$error.maxlength)">{{'PhoneLengthError' | translate}}</div>
                  </div>
                </div>

                <!-- <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'Phone2Lbl' | translate}}</label>
                    
                    <input required type="text" class="mat-input form-control" name="phone2" ng-model="userObj.phone2"  ng-pattern="phoneNumbr" ng-minlength="10" ng-maxlength="50">
                    <span class="error" ng-show="newclientForm.phone2.$error.pattern">{{'NotPhoneNumber' | translate}}  </span>
                    
                                        <div ng-messages="newclientForm.phone2.$error" >
                                            <div ng-if="(newclientForm.phone2.$error.minlength || newclientForm.phone2.$error.maxlength)">{{'PhoneLengthError' | translate}}</div>
                                            
                                        </div>                  
                </div>   -->

                <!-- <div class="form-group pmd-textfield pmd-textfield-floating-label">
                    <label for="first-name">{{'Phone2Lbl' | translate}}</label>
                    <input   type="text" class="mat-input form-control" name="phone2" numbers-only ng-model="userObj.phone2"  ng-pattern="phoneNumbr" ng-minlength="10" ng-maxlength="50">
                    <span class="error" ng-show="newclientForm.phone2.$error.pattern">{{'NotPhoneNumber' | translate}}  </span>

                    <div ng-messages="newclientForm.phone2.$error" >
                        <div ng-if="(newclientForm.phone2.$error.minlength || newclientForm.phone2.$error.maxlength)">{{'PhoneLengthError' | translate}}</div>
                        
                    </div>
                </div> -->
                <div class="form-group pmd-textfield pmd-textfield-floating-label-completed" >
                    <label for="first-name">{{'UserPasswordLbl' | translate}}</label>
                    
                        <input required type="password" class="mat-input form-control" name="password" ng-model="userObj.password" ng-minlength="8" ng-maxlength="25">
                        <div ng-messages="newclientForm.password.$error" >
                            <div ng-if="newclientForm.password.$error.required && !newclientForm.password.$pristine">{{'requiredErr' | translate}}</div>
                            <div ng-if="(newclientForm.password.$error.minlength || newclientForm.password.$error.maxlength) && !newclientForm.password.newPassword.$error.required">Password length must be 8-25 char.</div>
                        </div>
                    </div>
                    <!-- <div class="form-group pmd-textfield pmd-textfield-floating-label-completed" >
                        <label for="first-name">{{'StatusLbl' | translate}}</label>
                        <input type="checkbox" ng-model="userObj.isActive"  name="name"   >
                       
                    </div> -->
            </form> 
        <div class="pmd-modal-action text-right">
            <button ng-disabled="newclientForm.$invalid || !editUserCtrl.show" class="btn pmd-ripple-effect btn-primary" type="button" ng-click="Updateclient()">{{'Edit' | translate}}</button>
                </div>
    
    </div>
    <div style="margin-bottom:10px">
		<button  ng-click="$state.go('product');" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddProductBtn' | translate}}</button>

    </div>


    <!-- <div class="alert alert-info" ng-show="loading">Loading</div> -->
      <div class="table-responsive" loading-pane="isPaneShown">
        <table class="table pmd-table table-hover">
            <thead>
                <tr>
                    <th >{{'ProductTitleLbl' | translate}}</th>
                    <th >{{'userlimitLbl' | translate}}</th> 
                    <th >{{'concumerLbl' | translate}}</th> 
                    <th >{{'startDateLbl' | translate}}</th>
                    <th >{{'enddateLbl' | translate}}</th> 
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userProduct in userProductList.results"> 
                    <td data-title="logo" >{{userProduct.productTitle}}
                        <td data-title="Description" >{{userProduct.userLimit}}</td>  
                        <td data-title="Description" >{{userProduct.userConsumer}}</td>  
                        <td data-title="logo" >{{userProduct.startDate | date:'dd MMM yyyy'}}
                    <td data-title="Description" >{{userProduct.endDate | date:'dd MMM yyyy'}}</td>  
                    <td width="15%" >
                         
                        <!-- <i class="cursorPointer" ng-click="$state.go('editProduct', {backageGuid: {userProduct.backageGuid}});">Edit Product</i>  -->
                        <i class="cursorPointer" ng-click="$state.go('editProduct', {backageGuid: userProduct.backageGuid});">{{'Edit' | translate}}</i> 
                        
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>