{{'BasicInfoLbl' | translate}}
<form class="form-horizontal" name="newclientForm">

    <div class="form-group pmd-textfield pmd-textfield-floating-label">
        <label for="first-name">{{'FirstNameLbl' | translate}}</label>
        <input required type="text" class="mat-input form-control" name="firstName" ng-pattern="/^(\D)+$/" ng-model="FirstName" ng-minlength="3" ng-maxlength="50">
        <div ng-messages="newclientForm.firstName.$error" class="error">
            <div ng-show="newclientForm.firstName.$error.pattern">{{'TextOnly' | translate}}</div>
            <div ng-if="newclientForm.firstName.$error.required && !newclientForm.firstName.$pristine">{{'FirstNameLengthError' | translate}}</div>
            <div ng-if="(newclientForm.firstName.$error.minlength || newclientForm.firstName.$error.maxlength) ">{{'NameLengthError' | translate}}</div>
        </div>
    </div>
    <div class="form-group pmd-textfield pmd-textfield-floating-label">
        <label for="first-name">{{'LastNameLbl' | translate}}</label>
        <input required type="text" class="mat-input form-control" name="lastName" ng-pattern="/^(\D)+$/" ng-model="LastName" ng-minlength="3" ng-maxlength="50">
        <div ng-messages="newclientForm.lastName.$error">
            <div ng-show="newclientForm.lastName.$error.pattern">{{'TextOnly' | translate}}</div>
            <div ng-if="newclientForm.lastName.$error.required && !newclientForm.lastName.$pristine">{{'lastName' | translate}}</div>
            <div ng-if="(newclientForm.lastName.$error.minlength || newclientForm.lastName.$error.maxlength)">{{'NameLengthError' | translate}}</div>
        </div>
    </div>
    <div class="form-group pmd-textfield pmd-textfield-floating-label">
        <label>{{'EmailLbl' | translate}}</label>
        <input required type="text" class="mat-input form-control" name="userEmail" ng-model="Email" ng-pattern="/^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/">
        <span class="error" ng-show="newclientForm.userEmail.$error.pattern">{{'WrongMail' | translate}}   </span>
        <!--
                            <div ng-if="!newclientForm.email.$error.required &amp;&amp;
                            newclientForm.userEmail.$error.email" class="error">{{'WrongMail' | translate}}
                            </div> -->
        <div ng-messages="newclientForm.email.$error">
            <div ng-if="newclientForm.userEmail.$error.required && !newclientForm.userEmail.$pristine">{{'EmailLengthError' | translate}}</div>
        </div>
    </div>
    <div class="form-group pmd-textfield pmd-textfield-floating-label">


        <label for="first-name">{{'phoneLbl' | translate}}</label>
        <input required type="text" class="mat-input form-control" name="phone" numbers-only ng-model="Phone" ng-minlength="10" ng-maxlength="50">
        <!-- <span class="error" ng-show="newclientForm.phone.$error.pattern">{{'NotPhoneNumber' | translate}}   </span> -->
        <div ng-messages="newclientForm.phone.$error">
            <div ng-if="newclientForm.phone.$error.required && !newclientForm.phone.$pristine">{{'PhoneReqError' | translate}}</div>
            <div ng-if="(newclientForm.phone.$error.minlength || newclientForm.phone.$error.maxlength)">{{'PhoneLengthError' | translate}}</div>
        </div>
    </div>
    <div class="form-group pmd-textfield pmd-textfield-floating-label">
        <label for="first-name">{{'UserPasswordLbl' | translate}}</label>
        <input required type="password" class="mat-input form-control" name="password" ng-model="Password" ng-minlength="8" ng-maxlength="25">
        <div ng-messages="newclientForm.password.$error">
            <div ng-if="newclientForm.password.$error.required && !newclientForm.password.$pristine">{{'requiredErr' | translate}}</div>
            <div ng-if="(newclientForm.password.$error.minlength || newclientForm.password.$error.maxlength) && !newclientForm.password.newPassword.$error.required">Password length must be 8-25 char.</div>
        </div>
    </div>
    <div class="form-group pmd-textfield pmd-textfield-floating-label">
        <label for="first-name">{{'ConfirmPasswordLbl' | translate}}</label>
        <input required type="password" class="mat-input form-control" name="confirmPassword" ng-model="confirmPassword" equalto="newclientForm.password">
        <div ng-messages="newclientForm.confirmPassword.$error">
            <div ng-if="newclientForm.confirmPassword.$error.required && !newclientForm.confirmPassword.$pristine">{{'requiredErr' | translate}}</div>
            <div ng-if="newclientForm.confirmPassword.$error.equalto && !newclientForm.confirmPassword.$error.required">{{'passworddontmatch' | translate}}</div>
        </div>
    </div>
    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
        <label for="first-name">{{'UserType' | translate}}</label>
        <select style="width:100% !important" class="form-control select-add-tags pmd-select2-tags"  ng-model="selectedType" 
                ng-options="group as group.titleDictionary[selectedLanguage] for group in userTypeList">
                         
        </select>

    </div> 
    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
        <label> {{ 'Role' | translate}} </label>
        <select style="width:100% !important" class="form-control select-add-tags pmd-select2-tags" multiple
                ng-model="userCtrl.selectedUserRoles" ng-options="role as role.titleDictionary[selectedLanguage] for role in roleList"></select>
 
    </div>
</form>
<div class="pmd-modal-action text-right">
    <button ng-disabled="newclientForm.$invalid" class="btn pmd-ripple-effect btn-primary" type="button" ng-click="AddNewclient()">{{'NextLbl' | translate}}</button>
</div>
<script type="text/javascript">
    $(document).ready(function() { 
        $(".select-add-tags").select2({
            tags: true,
            theme: "bootstrap",
            insertTag: function (data, tag) { 
                data.push(tag); 
            }
        });
    });
</script>