
 
{{'BasicInfoLbl' | translate}}
<br/>
    <form class="form-horizontal" name="newclientForm" autocomplete="off">
        <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
            <label for="first-name">{{'FirstNameLbl' | translate}}</label>
            <input required type="text" class="mat-input form-control" name="firstName" ng-model="userObj.firstName" ng-minlength="3" ng-maxlength="50" >
            <div ng-messages="newclientForm.firstName.$error">
                <div ng-if="newclientForm.firstName.$error.required && !newclientForm.firstName.$pristine">{{'FirstNameLengthError' | translate}}</div>
                <div ng-if="(newclientForm.firstName.$error.minlength || newclientForm.firstName.$error.maxlength) && !newclientForm.firstName.$error.required">{{'FirstNameLengthError' | translate}}</div>
            </div>
        </div>
        <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
            <label for="first-name">{{'LastNameLbl' | translate}}</label>
            <input required type="text" class="mat-input form-control" name="lastName" ng-model="userObj.lastName" ng-minlength="3" ng-maxlength="50" >
            <div ng-messages="newclientForm.lastName.$error">
                <div ng-if="newclientForm.lastName.$error.required && !newclientForm.lastName.$pristine">{{'lastName' | translate}}</div>
                <div ng-if="(newclientForm.lastName.$error.minlength || newclientForm.lastName.$error.maxlength) && !newclientForm.lastName.$error.required">{{'LastNameLengthError' | translate}}</div>
            </div>
        </div>
        <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
            <label for="first-name">{{'EmailLbl' | translate}}</label>

            <input required type="text" class="mat-input form-control" name="email" ng-model="userObj.email" ng-minlength="3" ng-maxlength="50" >
            <div ng-messages="newclientForm.email.$error">
                <div ng-if="newclientForm.email.$error.required && !newclientForm.email.$pristine">{{'lastName' | translate}}</div>
                <div ng-if="(newclientForm.email.$error.minlength || newclientForm.email.$error.maxlength) && !newclientForm.email.$error.required">{{'LastNameLengthError' | translate}}</div>
            </div>
        </div>
        <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
            <label for="first-name">{{'phoneLbl' | translate}}</label>

            <input required type="text" class="mat-input form-control" numbers-only name="phone" ng-model="userObj.phone" ng-pattern="phoneNumbr" ng-minlength="10" ng-maxlength="50">
            <span class="error" ng-show="newclientForm.phone.$error.pattern">{{'NotPhoneNumber' | translate}}   </span>
            <div ng-messages="newclientForm.phone.$error">
                <div ng-if="newclientForm.phone.$error.required && !newclientForm.phone.$pristine">{{'PhoneReqError' | translate}}</div>
                <div ng-if="(newclientForm.phone.$error.minlength || newclientForm.phone.$error.maxlength)">{{'PhoneLengthError' | translate}}</div>
            </div>
        </div>

        <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
            <label for="first-name">{{'UserPasswordLbl' | translate}}</label>

            <input required type="password" class="mat-input form-control" name="password" ng-model="userObj.password" ng-minlength="8" ng-maxlength="25">
            <div ng-messages="newclientForm.password.$error">
                <div ng-if="newclientForm.password.$error.required && !newclientForm.password.$pristine">{{'requiredErr' | translate}}</div>
                <div ng-if="(newclientForm.password.$error.minlength || newclientForm.password.$error.maxlength) && !newclientForm.password.newPassword.$error.required">Password length must be 8-25 char.</div>
            </div>
        </div>
     
        <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
             
              <label for="first-name">{{'selectedType' | translate}}</label>
            <select style="width:100% !important" class="form-control select-add-tags pmd-select2-tags"  ng-model="selectedType"
                    ng-options="group as group.titleDictionary[selectedLanguage] for group in userTypeList track by group.userTypeId">
                         
            </select> 
        </div> 
        
        <div class="form-group pmd-textfield pmd-textfield-floating-label">
            role   <label> {{ role | translate}} </label>
            <select style="width:100% !important" class="form-control select-add-tags pmd-select2-tags" multiple
                    ng-model="editUserCtrl.selectedUserRoles" ng-options="role as role.titleDictionary[selectedLanguage] for role in roleList"></select>
 
        </div>
    </form>
    <div class="pmd-modal-action text-right">
        <button ng-disabled="newclientForm.$invalid || !editUserCtrl.show" class="btn pmd-ripple-effect btn-primary" type="button" ng-click="Updateclient()">{{'Edit' | translate}}</button>
    </div>
     

<script type="text/javascript">
    $(document).ready(function() {
       
        // $(".select-simple").select2({
        //     theme: "bootstrap",
        //     minimumResultsForSearch: Infinity,
        // });
        // $(".select-with-search").select2({
        //     theme: "bootstrap"
        // });
        // $(".select-tags").select2({
        //     tags: false,
        //     theme: "bootstrap",
        // });
        $(".select-add-tags").select2({
            tags: true,
            theme: "bootstrap",
            insertTag: function (data, tag) {
                // Insert the tag at the end of the results
                data.push(tag);
                // console.log(data);
            }
        });
    });
</script>