<div class="modal-content">
	<div class="modal-header bordered">
		<h2 class="pmd-card-title-text">{{'product' | translate}}</h2>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" name="newProductForm"> 
                <div> 
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in editpoductDlCtrl.language">
                            <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab" data-toggle="tab">
                                {{lang.value | translate}}
                            </a>
                        </li>
                        <!-- <li role="presentation">
                            <a href="javascript:void(0);" data-target="#arabic-form" aria-controls="about" role="tab" data-toggle="tab">{{'arabic' | translate}}</a>
                        </li> -->
                    </ul>
                    <div class="pmd-card">
                        <div class="pmd-card-body">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in editpoductDlCtrl.language" id="{{lang.value}}-form">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                                        <label for="first-name"> {{ lang.value+'Name' | translate}} </label>
                                        <input required type="text" class="mat-input form-control" name="titleDictionary{{lang.value+'Name'}}" ng-model="editpoductDlCtrl.product.titleDictionary[lang.key]" ng-minlength="3" ng-maxlength="40">
                                        <div ng-messages="newProductForm.titleDictionary{{lang.value+'Name'}}.$error" >
                                            
                                            <div ng-show="newProductForm.titleDictionary{{lang.value+'Name'}}.$error.required && !newProductForm.titleDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
                                            <div ng-show="(newProductForm.titleDictionary{{lang.value+'Name'}}.$error.minlength || newProductForm.titleDictionary{{lang.value+'Name'}}.$error.maxlength) && !newProductForm.titleDictionary{{lang.value+'Name'}}.$error.required">{{'NameLengthError' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                                <label>{{'ApiUrlLbl' | translate}}</label>
                                <input required type="text" class="mat-input form-control" name="productUrl" 
                                ng-model="editpoductDlCtrl.product.apiUrl" 
                                ng-pattern="/(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/">
                                <span class="error" ng-show="newProductForm.productUrl.$error.pattern">{{'Wrongapi' | translate}}   </span>
                                
                                <div class="error" ng-messages="newProductForm.productUrl.$error">
                                    <div ng-if="newProductForm.productUrl.$error.required && !newProductForm.productUrl.$pristine"> {{'requiredApi' | translate}} </div>
                                </div>
                            </div>
                        </div>

                   
                    </div>
                </div> 
 
		</form>
	</div>
	<div class="pmd-modal-action text-right">
		<button ng-disabled="newProductForm.$invalid" class="btn pmd-ripple-effect btn-primary" type="button" ng-click="editpoductDlCtrl.Updateproduct()">{{'saveChangesBtn' | translate}}</button>
		<button class="btn pmd-ripple-effect btn-default" type="button" ng-click="editpoductDlCtrl.close()">{{'DiscardBtn' | translate}}</button>
	</div>
</div>

	
