
<div>
    <div style="margin-bottom:10px">
        <button ng-click="$state.go('newDepartment');" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddBtn' | translate}}</button>

    </div>

    <div ng-if="DepartmentList.results.length == 0">
        <span>{{'NoDepartmentsAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="DepartmentList.results.length > 0">
        <div class="table-responsive"></div>
        <table class="table pmd-table table-hover">
            <thead>
                <tr>
                    <th>{{'Name' | translate}}</th>
                    <th>{{'status' | translate}}</th>
                    <th>{{'category' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="Department in DepartmentList.results">
                    <td data-title="Name">{{Department.titleDictionary[selectedLanguage]}}</td>
                    
                    <td>
                        <p ng-show="Department.isStatic">{{'Static' | translate}}</p>
                    </td>
                    <td>
                        <button ng-click="$state.go('newCategory',{departmentId: Department.departmentId});" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddNewBranch' | translate}}</button>
                        <span href="javascript:void(0);" ng-click="Department.show=!Department.show;editDepartmentCtrl.showMore($event)" 
                              ng-show="Department.categories.length != 0"
                              class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm child-table-expand direct-expand"><i class="material-icons md-dark pmd-sm"></i></span>
                    </td>
                   
                    <td width="30%" ng-show="!Department.isStatic">
                        <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editDepartment',{departmentId: Department.departmentId});">mode_edit</i>
                    </td>
                </tr>
                <tr ng-repeat-end ng-show="Department.show">
                    <td>
                        <table class="table pmd-table table-hover">
                            <thead>
                                <tr>
                                    <th>{{'Name' | translate}}</th>
                                    <th>{{'status' | translate}}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="category in Department.categories">
                                    <td data-title="Name">{{category.titleDictionary[selectedLanguage]}}</td> 
                                    <td>
                                        <p ng-show="category.isStatic">{{'Static' | translate}}</p>
                                    </td>
                                    <td width="30%" ng-show="!category.isStatic">
                                        <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editCategory',{categoryId: category.categoryId});">mode_edit</i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align:center;" paging page="1" page-size="10" total="totalCount" paging-action="changePage(page)"
         flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
    </div>
</div>
