
<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text">{{'NewDepartment' | translate}}</h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="newDepartmentForm"> 
            <div> 
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in newDepartmentCtrl.language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab" data-toggle="tab">
                            {{lang.value | translate}}
                        </a>
                    </li> 
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in newDepartmentCtrl.language" id="{{lang.value}}-form">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="first-name"> {{ lang.value+'Name' | translate}} </label>
                                    <input required Department="text" class="mat-input form-control" name="titleDictionary{{lang.value+'Name'}}" ng-model="newDepartmentCtrl.titleDictionary[lang.key]" ng-minlength="3" ng-maxlength="255">
                                    <div ng-messages="newDepartmentForm.titleDictionary{{lang.value+'Name'}}.$error" >
										
                                        <div ng-show="newDepartmentForm.titleDictionary{{lang.value+'Name'}}.$error.required && !newDepartmentForm.titleDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
                                        <div ng-show="(newDepartmentForm.titleDictionary{{lang.value+'Name'}}.$error.minlength || newDepartmentForm.titleDictionary{{lang.value+'Name'}}.$error.maxlength) && !newDepartmentForm.titleDictionary{{lang.value+'Name'}}.$error.required">{{'NameLengthError255' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </form>
    </div>
    <div class="pmd-modal-action text-right">
        <button ng-disabled="newDepartmentForm.$invalid" class="btn pmd-ripple-effect btn-primary" Department="button" ng-click="newDepartmentCtrl.AddNewDepartment()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" Department="button" ng-click="$state.go('Department');">{{'DiscardBtn' | translate}}</button>
    </div>
</div>
