
<div>
    <div style="margin-bottom:10px">
        <button ng-click="$state.go('newQuestion');" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddNew' | translate}}</button>

    </div> 
    <div ng-if="QuestionList.results.length == 0">
        <span>{{'NoQuestionsAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="QuestionList.results.length > 0">
        <div class="table-responsive"></div>
        <table class="table pmd-table table-hover">
            <thead>
                <tr>
                    <th>{{'Name' | translate}}</th>
                    <th>{{'status' | translate}}</th>
                    <th>{{'Type' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Question in QuestionList.results">
                    <td data-title="Name">{{Question.titleDictionary[selectedLanguage]}}</td>
                    
                    <td>
                        <p ng-show="Question.isStatic"> Static</p>
                    </td>
                    <td>
                    {{(QuestionTypeList  |filter: {id: key})[Question.questionTypeId].text}}
 
                    </td>
                   
                    <td width="30%" ng-show="!Question.isStatic">
                        <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editQuestion',{questionId: Question.questionId});">mode_edit</i>
                    </td>
                </tr>
               
            </tbody>
        </table>
    </div>
    <div style="text-align:center;" paging page="1" page-size="10" total="totalCount" paging-action="changePage(page)"
         flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
    </div>
</div>
