<div>
    <div style="margin-bottom:10px" ng-if="ticketsCtrl.user.userTypeId == '3'">
        <button ng-click="$state.go('newTicket');" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddBtn' | translate}}</button>

    </div>

    <div ng-if="ticketsCtrl.tickets.results.length == 0">
        <span>{{'NoTicketAvailable' | translate}}</span>
    </div>   
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="ticketsCtrl.tickets.results.length > 0">
        <div class="table-responsive"></div>
        <table class="table pmd-table table-hover">
            <thead>
                <tr>
                    <th>{{'Name' | translate}}</th>
                    <th>{{'descLbl' | translate}}</th>
                    <th>{{'CategoryLbl' | translate}}</th>
                    <th>{{'status' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ticket in ticketsCtrl.tickets.results">
                    <td data-title="Name" style="width:15%">{{ticket.title}}</td>
                    <td style="width:20%">{{ticket.description | limitTo :50}}</td>
                    <td>{{ticket.categoryTitleDictionary[selectedLanguage]}}</td>
                    <td>{{ticket.status | translate}}
                        <span ng-if="ticket.status === 'Assigned' || ticket.status === 'Closed' || ticket.status === 'Rejected' || ticket.status === 'InProgress'">{{ticket.assignedUser}}</span>
                    </td>
                    <td>
                        <button ng-click="$state.go('TicketDetails',{ticketId: ticket.ticketId});" class="btn pmd-ripple-effect btn-primary pmd-z-depth"
                            type="button">{{'DetailsBtn' | translate}}</button>
                        <button ng-click="ticket.showAssign= true;ticket.assignedUserId ='0';" ng-if="ticket.status === 'Pending' && !ticket.showAssign && ticketsCtrl.user.userTypeId == '2'"
                            class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AssignedBtn' | translate}}</button>
                        <button ng-click="ticketsCtrl.approveTicket(ticket.ticketId)" class="btn pmd-ripple-effect btn-primary pmd-z-depth"
                            ng-if="ticketsCtrl.user.userTypeId == '4' && ticket.status == 'Assigned' && !ticket.showReject" type="button">{{'ApproveBtn' | translate}}</button>
                        <button ng-click="ticketsCtrl.closeTicket(ticket.ticketId)" class="btn pmd-ripple-effect btn-primary pmd-z-depth"
                            ng-if="ticketsCtrl.user.userTypeId == '4' && ticket.status == 'InProgress'" type="button">{{'CloseBtn' | translate}}</button>
                        <button ng-click="ticket.showReject = true;" class="btn pmd-ripple-effect btn-primary pmd-z-depth"
                            ng-if="ticketsCtrl.user.userTypeId == '4' && ticket.status == 'Assigned' && !ticket.showReject " type="button">{{'RejectBtn' | translate}}</button>

                        <button ng-click="ticket.showAssign= true;ticketsCtrl.assignTicket(ticket.ticketId,ticket.assignedUserId)" ng-disabled="ticket.assignedUserId <=0"
                            ng-show="ticket.showAssign" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'saveChangesBtn' | translate}}</button>
                        <button ng-click="ticket.showAssign= false;" ng-show="ticket.showAssign" class="btn pmd-ripple-effect btn-primary pmd-z-depth"
                            type="button">{{'DiscardBtn' | translate}}</button>
                        <div ng-show="ticket.showAssign">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <select required style="width:100% !important" class="select-tags form-control pmd-select2-tags" ng-change="createTicketCtrl.departmentChange()"
                                    ng-model="ticket.assignedUserId" ng-options="key as value for (key, value)  in ticket.technacianUsers">
                                </select>
                            </div>
                        </div>

                        <button ng-click="ticket.showReject= true;ticketsCtrl.rejectTicket(ticket.ticketId,ticket.comment)" ng-disabled="ticket.comment==null || ticket.comment.trim().length<3"
                            ng-show="ticket.showReject" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'saveChangesBtn' | translate}}</button>
                        <button ng-click="ticket.showReject= false;" ng-show="ticket.showReject" class="btn pmd-ripple-effect btn-primary pmd-z-depth"
                            type="button">{{'DiscardBtn' | translate}}</button>
                        <div ng-show="ticket.showReject">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <input required type="text" placeholder="{{'commentLbl'|translate}}" class="mat-input form-control" name="title" ng-model="ticket.comment">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="ticketsCtrl.tickets.totalCount" paging-action="ticketsCtrl.changePage(page)"
        flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
    </div>
</div>